        <!-- 底部开始 -->
        <footer>
            <div class="footer-container">
              <div class="footer-section">
                <!-- Logo Section -->
                <img src="../Image Source 1/Fly Wings Logo.png" alt="Logo">
              </div>
              <div class="footer-section">
                <!-- Company Info and Contact -->
                <!-- 地图区域 -->
                <div id="map" style="height: 200px;"></div>
                <h3>About Us</h3>
                <p>239 Huay Kaew Rd, Tambon Su Thep, Amphoe Mueang Chiang Mai, Chang Wat Chiang Mai 50200</p>
                <p><a href="mailto:bingwen_qian@cmu.ac.th">Email: bingwen_qian@cmu.ac.th</a></p>
 
                <p>Phone: +66 168 168 1688</p>
              </div>
 
              <div class="footer-section">
                <!-- Navigation Links -->
                <h3>Quick Links</h3>
                <ul>
                  <li><a href="MenHomePage.html">Men</a></li>
                  <li><a href="WomenHomePage.html">Women</a></li>
                  <li><a href="KidsHomePage.html">Kids</a></li>
                  <li><a href="../HTML/FAQ.html">FAQ</a></li>
                </ul>
              </div>
            </div>
            <div class="footer-bottom">
              <p>&copy; 2024 Fly Wings. All rights reserved.</p>
            </div>
          </footer>
        <!-- 底部结束 -->
