        <!-- 新的导航栏 -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-bg-new">
            <div class="container">
                <!-- 可以根据需要修改链接和文本 -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/specialDiscount_K">Special Discount</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/BoysClothing_K">Boys Clothing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/BoysShoes_K">Boys Shoes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/GirlsClothing_K">Girls Clothing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/GirlsShoes_K">Girls Shoes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Accessories_K">Accessories</a>
                    </li>
                </ul>
            </div>
        </nav>
        